<!DOCTYPE html>
<html>


    <head>
        <title>Hello ERB</title>
    </head>

    <body>
    
        <p> Welcomr to your list of tasks</p>
        <ol>
         <% @todos.each do |todo|%>
            <li>
                <%= todo.description %>
            </li>
        <% end %>
        </ol>
    
    </body>

</html>